*{
    margin: 0;
    padding: O;
    user-select: none;
    box-sizing: border-box;
    color: white;
}
.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #1e1e1e;
    left: 0;

}
.sidebar .text{
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
}
nav ul{
    background: #1e1e1e;
    height: 100%;
    width: 100%;
    list-style: none;
}
nav ul li{
    line-height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 10px;
    font-weight: 500;
    /*display: block;*/
    width: 100%;
   position: relative;
}
nav ul li a:hover{
    color: rgb(247, 181, 191);
    background: #1e1e1e;
    border-left-color: rgb(247, 181, 191);
}
nav ul ul{
    position: static;
    display: none;
}
nav ul ul li{
    line-height: 42px;
    border-bottom: none;
}
nav ul ul li a{
    font-size: 17px;
    color: #e6e6e6;
}
.ic{
    position: absolute;
    top: 0%;
    left: 00px;
    width: 30%;
    float: right;
   
}